/*головний блок*/

.section.header {
   padding-top: 0px;
   padding-bottom: 0px;
}

.header {
   font-weight: 500;
   line-height: 1.17;
   letter-spacing: 0.02em;

   background-color: var(--main-color);
   border-bottom: 1px solid #ECECEC;
   display: flex
}

.header-conteiner {
   display: flex;
   align-items: center;
}

.nav {
   display: flex;
   align-items: center;
}

.nav__style {
   display: flex;
}

.current {
   color: var(--accent-color);
}

.current::after {
   position: absolute;
   bottom: -1px;
   content: "";
   display: block;
   width: 100%;
   height: 2px;

   background-color: var(--accent-color);
   border-radius: 2px;

}




.nav__logo {
   color: var(--title-text-color);
   text-decoration: none;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 32px;
   line-height: 1.17;
   margin-right: 93px;
   display: flex;
}

.nav__style .nav__list:not(:last-child) {
   margin-right: 50px;
}


.header__info {
   display: flex;

   font-weight: 500;
   line-height: 1.14;
   margin-left: auto;
   margin-right: 0px;
}

.header__list:not(:first-child) {
   margin-left: 50px;
}

.nav__link {
   color: var(--title-text-color);
   font-size: 14px;
   line-height: 1.14;
   display: flex;
   position: relative;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.nav__link {
   padding-top: 32px;
   padding-bottom: 32px;
   display: block;
}

.nav__link:hover {
   color: var(--accent-color);
}

.info-nav__link {
   color: var(--main-text-color);
   text-decoration: none;
   padding-top: 32px;
   padding-bottom: 32px;
   display: flex;
   align-items: center;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon {
   fill: var(--main-text-color);
   margin-right: 10px;
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
   color: var(--accent-color);
}

.header__link:hover .header__icon {
   fill: var(--accent-color);
}